.eventHeader{
    display: flex;
    align-items: center;
    margin-left: 60px;
    background: white;
}

.eventHeader > .logo {
    margin-right: 60px;
}

.eventOptions{
    display: flex;
}

.eventOptionLeft{
    margin-top: 30px;
}
.eventOptionLeft > p{
    width: 200px;
    padding-left: 65px;
    padding-right: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
.icon{
    width:1.2rem;
    margin-right: 10px;
}

.eventOptionRight{
    background-color: #F4F7FC;
    width: 100%;
    height: 100vh;
    flex: 1;
}

.form{
    width: 85%;
    flex-grow: 1;
    height: 305px;
    background-color: white;
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.formLeft> input{
    width: 20rem;
    height: 30px;
    padding-left: 10px;
    outline-width: 0;
    border: 0.666667px solid #C9C9C9;
    flex-grow: 1;
    margin-right: 30px;
}

.formRight> input{
    width: 20rem;
    height: 30px;
    padding-left: 10px;
    outline-width: 0;
    border: 0.666667px solid #C9C9C9;
    flex-grow: 1;
}

.uploadFile{
    position: relative;
}

.uploadImage{
    position: absolute;
    width: 1.5rem;
    top: 8px;
    left: 15px;
}

.custom-file-input {
    color: transparent;
    outline-width: 0;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Upload image';
    color: #207FEE;
    display: inline-block;
    /* background: -webkit-linear-gradient(top, #a7a7a7, #e3e3e3); */
    background: #E5F3FF;
    border: 1px solid #0084FF;
    border-radius: 5px;
    padding: 10px 40px;
    outline-width: 0;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: #0084FF;
  }
  .custom-file-input:active {
    outline-width: 0;
  }
  .custom-file-input:active::before {
    background: #E5F3FF; 
  }
